*{
   font-family: sans-serif; 
   box-sizing: border-box;
}
body {
margin:0;
    
}
header{
    background-color:RGB(0, 151, 253);
    width:100vw;
    height:60px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0;
    direction: rtl;
    align-items: center;
    position: fixed;
    top:0;
    
}
#menu{
    width: 40px;
    display:flex;
    flex-direction: column;
    gap:4px;
    right: 0;
    justify-content: center;
    margin:15px;
    
}
#menu div{
    width: 27px;
    height: 2.8px;
    background-color: white;
}
#s{
    color: white;
    right: auto;
    
}
#r{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
#ons{
    display:flex;
    flex-direction:column;
    align-items:right;
    justify-content: center;
}
#rn{
    color:rgb(255,255,255,0.6);
    font-size:18px;
    
}
#l{
    background-image:url("p.jpg");
    width: 150px;
    height:60px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    
    
}
#box{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
}
.card{
    margin:7px;
    border-radius: 4px;
    padding: 7px 7px 19px 7px;
    box-shadow: 0px 0px 10px 0.01px rgba(0,0,0,0.2);
    min-height: 60px;
    max-width: 600px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: right;
    
}
.info{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 0;
    margin:0px;
    align-items: flex-start;
    width: 100%;
    
}
.l{
    color:red;
    font-size: 11.5px;
}
.r{
    font-size: 11px;
}
.cont{
    color:rgb(0,20,150);
    font-size: 20px;
    text-align:right;
    margin:0px;
    display:flex;
    flex-direction:row;
    justify-content: right;
    direction: rtl;
    align-items: flex-start;
    gap:3px;
    width: 94%;
    box-sizing: border-box;
    height: auto;
    margin-left: 34px;
    
}
.p2{
    margin: 2px;
    height: 25px;
    width: auto;
    margin-top: 7px;
}
#pm{
    width: 270px;
    position: fixed;
    z-index: 6;
    right: -270px;
    background-color: rgba(86, 91, 140, 1);
    height: 100dvh;
    top:0px;
    transition: 0.3s;
    
}
#os{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    right:0px;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    transition: 0.3s;
    
}
#cm{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
#ref{
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top:13.5px;
    left: 53.5px;
    border-radius: 50%;
    
}