body {
margin:0;
    
}
header{
    background-color:RGB(0, 151, 253);
    width:100vw;
    height:60px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0;
    direction: rtl;
    align-items: center;
    position: fixed;
    top:0;
    
}
#menu{
    width: 40px;
    display:flex;
    flex-direction: column;
    gap:4px;
    right: 0;
    justify-content: center;
    margin:15px;
    
}
#menu div{
    width: 27px;
    height: 2.8px;
    background-color: white;
}
#s{
    color: white;
    right: auto;
    
}
#r{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
#ons{
    display:flex;
    flex-direction:column;
    align-items:right;
    justify-content: center;
}
#rn{
    color:rgb(255,255,255,0.6);
    font-size:18px;
    
}
#l{
    background-image:url("p.jpg");
    width: 150px;
    height:60px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    
    
}
#box{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
}
.card{
    margin:7px;
    border-radius: 4px;
    padding: 7px;
    box-shadow: 0px 0px 10px 0.01px rgba(0,0,0,0.2);
    min-height: 80px;
    max-width: 600px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: right;
    
}
.info{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 0;
    margin:0;
    align-items: flex-start;
    width: 100%;
    
}
.l{
    color:red;
    font-size: 11.5px;
}
.r{
    font-size: 11px;
}
.cont{
    color:rgb(0,20,150);
    font-size: 20px;
    text-align:right;
    margin:10px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    direction: rtl;
    align-items: right;
    gap:10px;
    width: 100%;
    box-sizing: border-box;
}
.p2{
    background-image:url("p2.jpg");
    width: 50px;
    height: 30px;
    background-size: cover;
    background-position: center;
}